/*--------------
 import font  
 ---------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; for deploy */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; for deploy */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
/* font-family: 'Manrope', sans-serif; for deploy */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; for deploy */

*{
    margin: 0;
}


/* header style */
header{
    font-family: 'Poppins', sans-serif;
}

/* navigation bar styles */
 nav{
     display: flex;
     max-width: 1200px;
     justify-content: space-between;
     align-items: center;
     margin:87px auto;
 }
 .nav-bar{
     display: none;
 }
 .logo{
     font-size: 24px;
     font-weight: 700;
 }
 ul{
     font-size: 16px;
     display: flex;
     list-style: none;
     gap: 34px;
 }
 a{
     text-decoration: none;
 }
 ul a{
     color: black;
 }
 .search-button{
     display: none;
 }


 /* banner styles */
 .banner{
    display: flex;
     max-width: 1200px;
     margin: auto;
     justify-content: space-between;
 }
 .left-banner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     gap: 16px;
 }
 h1{
     font-size: 52px;
 }
 
 .click-button{
     display: inline-block;
     color: white;
     font-weight: 700;
     background-color:  #E02C6D;
     padding: 10px 25px;
     border-radius: 50px;
     margin-top: 20px;
 }
 .fas{
     padding-left: 8px;
 }




 /* partner company section */
 .partners{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     max-width: 1110px;
     height: 110px;
     margin: 100px auto;
     border: 1px solid transparent;
     border-image: linear-gradient(90deg, #C0CCDA1A , #C0CCDA99, #C0CCDA1A);
     border-image-slice: 1;
     height: 120px;

 }
 


 /*-----------------------
  Popular collection 
 -------------------------*/

 .popular-collection{
    width: 1047px;
    height: 1662px;
    display: flex;
    flex-direction: column;
     margin: 0 auto 100px;
 }
 .header{
     text-align: center;
     margin-bottom: 50px;
 }
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin: 0;
    width: 100%;
}
 
.collection{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 446px; 
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    gap: 20px;
}
.thumb{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb img{
    width: 300px;
    height: 256px;
    margin: 0;
    object-fit: cover;
}
h2{
    font-family: 'Poppins', sans-serif;
     font-size: 28px;
     font-weight: 500;
 }
 h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
 }
.description{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.rating{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.star{
    height: 11px;
    color: #FB8200;
}
.fa-star, .fa-star-half-alt{
    padding: 3px;
}
.inword{
    font-family: 'Roboto', sans-serif;
    size: 14px;
}

.footer{
    margin-top: 50px;
    text-align: right;
}
.footer a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #E02C6DDE;
    ;
}

/* extra part's style  */
.extra-part{
     max-width:887px;
     margin: 0 auto 100px;
     height: 220px;
     background-color: #0A0826;
     border-radius: 0 100px 0 100px;
     color: white;
     padding: 80px;
     display: flex;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     gap: 30px;
     align-items: center;
}
.extra-part > div{
    width: 50%;
}
.extra-part h2{
    font-size: 40px;
}
.extra-part div p{
    text-align: justify;
    margin-bottom: 30px;
}
.input{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width:100%;
}
.extra-part input{
    border: 0;
    outline: 0;
    height: 30px;
    padding: 7px;
    width: 282px;
    
}
.extra-part .click-button {
    margin-top: 0;
    border-radius: 0%;
    
}

/*--------------- 
footer styles-
--------------- */



footer{
    height: 239px;
    background-color: #0A0826;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}
footer h3{
    font-weight: 700;
}

footer p{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

footer > div{
    width: 180px;
    height: 32px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}


/* media query start here  */
@media only screen and (max-width:688px) {
    
   nav{
       display: flex;
       width: 90%;
       justify-content: space-between;
   }
   .nav-bar{
       display: block;
   }
   .search-button{
       display: block;
   }
   .navigation{
       display: none;
   }
   .banner{
       flex-direction: column;
       width: 100%;
   }
   h1{
       font-size: 28px;
       text-align: center;
   }
   .banner p{
       text-align: center;
       margin: auto 21px;
   }
   .banner img{
       width:70%;
   }
   .right-banner{
       display: flex;
       justify-content: center;
   }
    .left-banner{
       order: 1;
       align-items: center;
   }
   .partners{
       flex-wrap: wrap;
   }
   .popular-collection{
       width: 329px;
       margin: 0 auto 100px;
       height: auto;
   }
   .collections{
       grid-template-columns: repeat(1,1fr);
       
   }
   .extra-part{
       width: 100%;
       flex-direction: column;
       height: auto;
       padding:15px 0;
       border-radius: 0%;
       margin: 0;
   }
   .extra-part > div{
       width:95%;
   }
   .extra-part h2{
    font-size: 28px;
    }
   .input{
       flex-direction: column;
       text-align: center;
       width: 100%;
   }
   .extra-part input{
       width:calc(100% - 14px);
   }
   .extra-part .click-button{
       width:calc(100% - 50px);
       
   }
  footer {
     width: 100%;
 }
   
}

/* tablet media query */
@media only screen and (min-width:689px) and (max-width:1047px) {
    nav{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    .banner{
        flex-direction: column;
        width: 90%;
    }
    .left-banner{
        order: 1;
        align-items: center;
    }
    h1{
        font-size: 38px;
    }
    .right-banner{
        display: flex;
       justify-content: center;
    }
    .banner img{
        width:70%;
    }
    .popular-collection{
        width: 688px;
        margin: 0 auto 100px;
        height: auto;
    }
    .collections{
        grid-template-columns: repeat(2,1fr);
        
    }
    .extra-part{
        width: 100%;
        flex-direction: column;
        height: auto;
        padding:40px 0;
        border-radius: 0 20px 0 20px;
    }
    .extra-part > div{
        width:90%;
    }
    .extra-part h2{
     font-size: 28px;
     }
     .below-part{
         display: flex;
         flex-direction: column;
        align-items: center;
    }
    .input{
        justify-content: center;
        width: 428px;
    }
    
    /* .extra-part input{
        width:calc(100% - 14px);
    } */
    /* .extra-part .click-button{
        width:calc(100% - 50px);
        
    } */
}
