/*--------------
 import font  
 ---------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; for deploy */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; for deploy */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
/* font-family: 'Manrope', sans-serif; for deploy */

*{
    margin: 0;
}


/* header style */
header{
    font-family: 'Poppins', sans-serif;
}

/* navigation bar styles */
 nav{
     display: flex;
     max-width: 1200px;
     justify-content: space-between;
     align-items: center;
     margin:87px auto;
 }
 .logo{
     font-size: 24px;
     font-weight: 700;
 }
 ul{
     font-size: 16px;
     display: flex;
     list-style: none;
     gap: 34px;
 }
 a{
     text-decoration: none;
 }
 ul a{
     color: black;
 }


 /* banner styles */
 .banner{
     display: flex;
     max-width: 1200px;
     margin: auto;
 }
 .left-banner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     gap: 16px;
 }
 h1{
     font-size: 52px;
 }
 .click-button{
     display: inline-block;
     color: white;
     font-weight: 700;
     background-color:  #E02C6D;
     padding: 10px 25px
     ;
     border-radius: 50px;
     margin-top: 20px;
 }
 .fas{
     padding-left: 8px;
 }



 /* partner company section */
 .partners{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     max-width: 1110px;
     height: 110px;
     margin: 100px auto;
     border: 1px solid transparent;
     border-image: linear-gradient(90deg, #C0CCDA1A , #C0CCDA99, #C0CCDA1A);
     border-image-slice: 1;
     height: 120px;

 }


 /* Popular collection */
.collection{
    max-width: 314px;
    height: 476px; 
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}